

/* ---------------------- Body part start  --------------------------------- */


body {
    margin: 0px;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: none;
    }

a{
    font-family: Helvetica,Arial,sans-serif;
    color: #4485BB;
}
a:hover{
    color: #000000;
}


.well_header{
    color: #000000;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
    padding-left: 35px;
    padding-right: 35px;
            min-height: 20px;


}


.well{
    color: #000000;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
    padding-left: 35px;
    padding-right: 35px;


}



.well-custom{


    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.1);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
    font-family: verdana;
    color: #4485BB;
}



.well-custom-list a{
    font-size: medium;
    color: #000000;
    display: block;
    margin-left: 20px;
    padding: 3px 0px;
    border-bottom: solid 0.5px #4484BB;
}
.well-custom-list a:hover{
    background-color: #4484BB;
    color: white;
    text-decoration: none;
}

.left_align{
    float: left;
    text-align: left;
}

.right_align{
    text-align: right;
}
/*------------Image------------------*/

.post_image{
    border: none;
}

.thumbnatil {
    width: auto;
    height: auto;
}

.image {
    width: 100%;
    height: 100%; 
    border: none;   
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);

}


.user_image{
    padding: 0;
    margin-top: -10px;
    margin-bottom: 0;

}

.noMarginX{
    margin-left: -15px;
    margin-right: -15px;
}
.transparent{
    font-size: 15px;
    padding-bottom: 7px;

}

/* -------------------------------- Body part end ---------------------------------------  */